*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
scroll-behavior: smooth;
}


:root{
  --section-padding: 60px;
  --first-color:#00b87a;
  --second-color:#202c46f2;
  --third-color:#ff0048;
  --fourth-color:yellow;
  --font-family: "cairo" , arial;
  --font-family1: "work-sans" , arial;
}

body{
  font-family: "cairo" ,sans-serif;
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}

@media (min-width: 768px){
  .container{
      width: 750px;
  }
}

@media (min-width: 992px){
  .container{
      width: 970px;
  }
}

@media (min-width: 1200px){
  .container{
      width: 1170px;
  }
}


.ma-na-1{
  width: 180px;
  text-align: center;
  margin: 100px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}
.ma-na-1::before{
  content: "";
  background-color: var(--fourth-color);
  position: absolute;
  width: 5px;
  height: 45px;
  border-radius: 15px;
  left: 0;
  top:0;
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-9px);
}
.ma-na-1:hover::before{
  animation: ma-na-1 0.3s linear 0.3s  forwards;
  background-color: var(--first-color);
}
.ma-na-1::after{
  content: "";
  background-color: var(--fourth-color);
  position: absolute;
  width: 5px;
  height: 45px;
  border-radius: 15px;
  right: 0;
  top: 0;
  transition: 1s;
  z-index: -1;
  transform: translateY(-9px);

}
.ma-na-1:hover::after{
  animation: ma-na-2 0.3s linear 0.3s forwards;
}
.ma-na-1 h2{
  color: var(--first-color);
  transition: 0.3s;
  transition-timing-function: linear;
}
.ma-na-1:hover h2{
  color: var(--second-color);
}

@keyframes ma-na-1{
  0%{
      left:0px;
      width:5px
  }
  100%{
      width: 50%;
      height: 45px;
      
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
}
@keyframes ma-na-2{
  0%{
      right:0px;
      width:5px
  }
  100%{
      width: 50%;
      height: 45px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      
  }
}


/* start main */
.main{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
  background-color: #f6f6f6;

}
.main::before{
  content: "";
  position: absolute;
  top: 0;
  background-image: linear-gradient(to right, var(--second-color) 20%, var(--first-color) 20% , var(--first-color) 50% , var(--fourth-color) 50% , var(--fourth-color) 80% , var(--second-color) 80%);
  width: 100%;
  height: 5px;

}
.main .image img{
  width: 90px;
}
/* end main */


/* start header */
.header{
  background-color:var(--first-color) ;
}

.header .container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width:990px){
  .header .container i{
      display: none;
  }
}
@media (max-width:989px){
  .header .container i{
      padding:15px;
      font-size:20px;
  }
  .header .container{
      justify-content: flex-start;
  }

}

.header .container nav{
  flex: 1;
  display: flex;
  justify-content: center;
}

@media (max-width:989px){
  .header .container nav{
  position:fixed;
  left:0;
  top:0;
  z-index:99999999;
  width:100%;
  height:100%;
  background-image:linear-gradient(to left , var(--first-color), rgb(32, 44, 70));
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  transform:translateX(-100%);
  transition:0.5s;
}
nav.open{
  transform: translateX(0%)!important;
}
.header .container nav ul li a{
  color:white;
  font-size:20px;
  border-bottom: 1px solid;
}
.header .container nav ul li a:hover{
  color:var(--fourth-color);
}
.header .container nav ul{
  display:flex;
  flex-direction:column;
  transition:0.5s;
  gap:45px;
  padding:0;
 }
 .header .container nav i{
  position: fixed;
  top: 20px;
  left: 30px;
  color: var(--first-color);
  font-size: 25px;
  border: 2px solid;
  padding: 4px 10px;
  border-radius: 50%;
}
.header .container nav i:hover{
  color: var(--fourth-color);
}
}

.header .container nav ul{
  list-style: none;
  display: flex;
  direction: rtl;
}

.header .container nav ul li a{
  text-decoration: none;
  margin: 5px;
  padding: 7px;
  color: white;
}
.header .container nav ul li a:hover{
  color: yellow;
}
/* end header  */

/* start landing */


.landing {
  background-image: linear-gradient(45deg, var(--second-color), var(--first-color));
  display: flex;
  position: relative;
  border-top: 4px solid var(--second-color);
  margin: 45px;
  padding: 40px;

}
@media (max-width:767px){
  .landing{
    margin: 40px 15px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
.landing .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.landing .container .de-se-sv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #cfcfcf;
  padding: 15px;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position:relative
}
@media (max-width:989px){
  .landing .container .de-se-sv{
    flex-wrap:wrap;
  }
}
.landing .container .de-se-sv::before{
  height: 5px;
  content: "";
  position: absolute;
  width: 100%;
  background-image: linear-gradient(to left, var(--second-color) 20%, var(--first-color) 20% , var(--first-color) 50% , var(--fourth-color) 50% , var(--fourth-color) 80%, var(--second-color) 80%);
  top: 0;
}
@media (max-width:989px){
  .landing .container .de-se-sv::before{
    width: 100%;
    top: 0;
  }
}
.landing .container .video video{
  width:500px;
}
@media (max-width:989px){
  .landing .container .video video{
    width:100%;
  }
}
.landing .container .text{
  text-align:center;
}
.landing .container .text p{
  width: 250px;
  font-size: 20px;
  color: var(--second-color);
  font-weight: bold;
  animation-name: up-and-down;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes up-and-down{
  to{
    transform: translateY(-10px);
  }
}
/* end landing */



/* start progress */

.progress img{
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: -1;
}
.progress .overlay{
  width: 100%;
  height: 300px;
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.progress .overlay .text{
  width: 80%;
  line-height: 45px;
}
@media (max-width:767px){
  .progress .overlay .text{
      line-height: 25px;
  }
}
.progress .overlay .text h2{
  font-size: 30px;
  color: var(--first-color);
  line-height: 60px;
}

.progress .overlay .text a{
  text-decoration: none;
  border: 2px solid var(--first-color);
  padding: 0 20px;
  border-radius: 20px;
  color: var(--fourth-color);
  font-size: 18px;
}
.progress .overlay .text a:hover{
  color:var(--first-color);
}

/* end progress */

/* start sections */
.sections{
  margin: 100px 0;
}
.sections .container .card{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:767px){
  .sections .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 80px;
  }
  .sections .container .card{
    flex-direction: column;
  }
  .sections .container .card.ma{
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width:989px){
  .sections .container {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    gap: 80px;
  }
  .sections .container .card{
    flex-direction: column;
  }
  .sections .container .card.ma{
    display: flex;
    flex-direction: column-reverse;
  }
}
.sections .container img{
  height:220px;
  border-radius:10px;
}
@media (max-width:989px){
  .sections .container .card img{
    width: 580px;
    height: 280px;
  }
}
@media (max-width:767px){
  .sections .container .card img{
    width: 290px;
    height: 150px;
  }
}
.sections .container video{
  width:600px;
}

@media (max-width:767px){
  .sections .container .card video{
    width: 300px;
  }
}
/* end sections */

/* start footer */
.footer{
  background-color: var(--second-color);
}
.footer .container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@media (min-width:768px){
  .footer .container{
      flex-wrap:nowrap;
  }
}
.footer .container .le-fo-in{
  width: 450px
}
@media (max-width:767px){
  .footer .container .le-fo-in{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
}
.footer .container .le-fo-in .text{
  border-bottom: 1px solid;
  width: fit-content;
}
.footer .container .le-fo-in .text h2{
  color: var(--first-color);
}
.footer .container .le-fo-in .text .to-fo-1{
  color: white;
}
.footer .container .le-fo-in .text p{
  width: 300px;
  margin: 30px 0;
  color:var(--fourth-color);
}

.footer .container .le-fo-in .social i{
  margin: 15px;
  font-size: 25px;
  color: var(--first-color);
}
.footer .container .le-fo-in .social .fa{
  color: rgb(255, 255, 255);
}
.footer .container .le-fo-in .social .yo{
  color: rgb(255 34 34) ;
}
.footer .container .le-fo-in .social .te{
  color: rgb(107 164 255);
}

/* end footer */