*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
scroll-behavior: smooth;
}


:root{
  --section-padding: 60px;
  --first-color:#00b87a;
  --second-color:#202c46f2;
  --third-color:#ff0048;
  --fourth-color:yellow;
  --font-family: "cairo" , arial;
  --font-family1: "work-sans" , arial;
}

body{
  font-family: "cairo" ,sans-serif;
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}

@media (min-width: 768px){
  .container{
      width: 750px;
  }
}

@media (min-width: 992px){
  .container{
      width: 970px;
  }
}

@media (min-width: 1200px){
  .container{
      width: 1170px;
  }
}


.ma-na-1{
  width: 240px;
  text-align: center;
  margin: 49px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}
.ma-na-1::before{
  content: "";
  background-color: var(--fourth-color);
  position: absolute;
  width: 5px;
  height: 45px;
  border-radius: 15px;
  left: 0;
  top:0;
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-9px);
}
.ma-na-1:hover::before{
  animation: ma-na-1 0.3s linear 0.3s  forwards;
  background-color: var(--first-color);
}
.ma-na-1::after{
  content: "";
  background-color: var(--fourth-color);
  position: absolute;
  width: 5px;
  height: 45px;
  border-radius: 15px;
  right: 0;
  top: 0;
  transition: 1s;
  z-index: -1;
  transform: translateY(-9px);

}
.ma-na-1:hover::after{
  animation: ma-na-2 0.3s linear 0.3s forwards;
}
.ma-na-1 h2{
  color: var(--first-color);
  transition: 0.3s;
  transition-timing-function: linear;
}
.ma-na-1:hover h2{
  color: var(--second-color);
}

@keyframes ma-na-1{
  0%{
      left:0px;
      width:5px
  }
  100%{
      width: 50%;
      height: 45px;
      
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
}
@keyframes ma-na-2{
  0%{
      right:0px;
      width:5px
  }
  100%{
      width: 50%;
      height: 45px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      
  }
}

/* start header */
.header{
  background-color:var(--first-color) ;
}

.header .container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width:768px){
  .header .container i{
      display: none;
  }
}
@media (max-width:767px){
  .header .container i{
      padding:15px;
      font-size:20px;
  }
  .header .container{
      justify-content: flex-start;
  }

}

.header .container nav{
  flex: 1;
  display: flex;
  justify-content: center;
}
.header .container nav ul{
  list-style: none;
  display: flex;
  direction: rtl;
}
@media (max-width:767px){
  .header .container nav ul{
      display: none;
  }
  .header .container nav ul:hover{
      margin-right: 10px;
  }
  .header .container nav ul::before{
      content: "";
      position: absolute;
      border-width: 10px;
      border-color: transparent transparent #0000009e transparent;
      border-style: solid;
      transform: translate(-165px, -19px);
  }
  .header .container .link:hover ul{
      display: flex;
      position: absolute;
      z-index: 999999;
      flex-direction: column;
      top: 45px;
      left: 30px;
      line-height: 45px;
      background-image: linear-gradient(130deg, var(--second-color) 50%, var(--first-color) 90%);
  }

}

.header .container nav ul li a{
  text-decoration: none;
  margin: 5px;
  padding: 7px;
  color: white;
}
@media (max-width:767px){
  .header .container nav ul li .active{
      display:none;
  }
}
.header .container nav ul li a:hover{
  
  color: yellow;
}

/* end header */
.text{
  display:flex;
  justify-content: center;
}
.text p{
  text-align:center;
  font-weight:bold;
  color: var(--second-color);
  width:70%;
}
.video{
  display: flex;
  justify-content: center;
}
.video video{
  width:400px;
  margin: 10px;
}
@media (max-width:767px){
  .video video{
    width: 300px;
  }
}
/* start footer */
.footer{
  background-image: linear-gradient(to left, var(--first-color) , var(--second-color));
}
.footer .container{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.footer .container .le-fo-in .text h2{
  color: white;
}

/* end footer */
